@import './../style/theme_sass';

.dialog-overlay {
	@include flexCenter;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.4);
}

.dialog {
	background-color: white;
	flex-grow: 1;
	box-shadow: 2px 2px 20px 5px rgba(0, 0, 0, 0.2);
	border: 1px solid #555555;
	border-radius: $theme-border-radius;
	display: flex;
	flex-direction: column;
}

.dialog-header {
	display: flex;
	align-items: center;
	border-bottom: 1px solid $theme-border-color;
	padding: 0 20px 0 20px;
	min-height: 60px;
}

.dialog-body {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	padding: 15px 15px 15px 15px;
	overflow: auto;
}

.dialog-body-contents {
	flex-grow: 1;
}

.dialog-footer {
	@include flexCenterRight;
	padding-right: 20px;
	height: 60px;
	min-height: 60px;
	border-top: 1px solid $theme-border-color;
}

.dialog-icon {
	margin-right: 10px;
}

.dialog-title {
	@include flexCenterLeft;
	flex-grow: 1;
	font-size: $theme-fontsize-title;
	color: black;
}

.dialog-close {
	@include flexCenter;
	width: 30px;
	height: 30px;
	border-radius: $theme-border-radius;
	cursor: pointer;

	img {
		height: 18px;
	}

	&:hover {
		background-color: $theme-hover-color;
	}
}
