@import './../style/theme_sass';

.rcl-section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 2px;

    &-main {
        display: flex;
        height: 50px;
        min-height: 50px;
        padding: 0 20px 0 20px;
        border-top-left-radius: $theme-border-radius;
        border-top-right-radius: $theme-border-radius;
        background-color: $theme-primary-light-color;

        &-back {
            @include flexCenter;
            width: 40px;
            cursor: pointer;

            img {
                width: 18px;
            }
        }

        &-title {
            @include flexCenter;
            width: calc(100vw - 520px);
            color: $theme-primary-text-color;
            font-size: $theme-fontsize-caption;

            span {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }

    &-body {
        flex-grow: 1;
        background-color: $theme-panel-color;
        border-left: 1px solid $theme-border-color;
        border-right: 1px solid $theme-border-color;
        border-bottom: 1px solid $theme-border-color;
    }
}
