# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

name: $(Version.Major).$(Version.Minor).$(Version.Patch)

trigger:
 batch: true
 branches:
   include:
     - master

pool:
  vmImage: ubuntu-latest

steps:
- task: NodeTool@0
  displayName: 'Install Node.js'
  inputs:
    versionSpec: '6.x'
    checkLatest: true
- task: Npm@1
  displayName: 'Install dependencies'
  inputs:
    command: 'custom'
    customCommand: 'npm install'

- task: Npm@1
  displayName: 'Create Package'
  inputs:
    command: 'custom'
    customCommand: 'npm pack'

- task: CopyFiles@2
  displayName: 'Copy tarball to artifact staging directory'
  inputs:
    Contents: '*.tgz'
    TargetFolder: '$(Build.ArtifactStagingDirectory)'

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact'
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'
