:root {
    --color-primary: #21618c;
    --color-primary-light: #2874a6; //#1e73a5;
    --color-primary-dark: #1b4f72;
    --color-primary-text: #ffffff;

    --color-secondary: #f1c40f;
    --color-secondary-light: #ffc947;
    --color-secondary-dark: #c66900;
    --color-secondary-text: #000000;

    --color-placeholder: #a09e9e;

    --color-border: #e0e0e0;
    --color-border-dark: #a8a8a8;

    --color-accent-yellow: #f7ff00;
    --color-accent-green: #4cff00;
    --color-accent-blue: #00ccff;

    --color-link: #806d22;

    --color-hover: #f9e79f;
    --color-hover-text: #000000;

    --color-sidebar: #ffffff;
    --color-panel: #eeeeee;

    --color-button-green: #4b7d2c;
    --color-button-red: #9b271c;
}
