@import './../style/theme_sass';

.rcl-dropdown {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	position: relative;
	border-radius: $theme-border-radius;
	border: 1px solid $theme-border-color;
	height: 36px;
	max-height: 36px;
}

.rcl-dropdown-noborder {
	border: 1px solid transparent;
}

.rcl-dropdown-required {
	border: 1px solid $theme-secondary-color !important;
}

.rcl-dropdown-required-focus {
	border: 1px solid green !important;
	box-shadow: 0px 0px 8px 1px green;
}

.rcl-dropdown-focus {
	border: 1px solid $theme-primary-dark-color !important;
}

.rcl-dropdown-box {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
}

.rcl-dropdown-field {
	color: black !important;
	-webkit-box-flex: 1;
	flex-grow: 1;
	border-top-left-radius: $theme-border-radius;
	border-bottom-left-radius: $theme-border-radius;
	background-color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: $theme-fontsize-default;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.rcl-dropdown-field-contents {
	@include flexCenterLeft;
	padding-top: 2px;
	padding-left: 1px;
	height: 100%;
}

.rcl-dropdown-field-placeholder {
	@include flexCenterLeft;
	padding-top: 2px;
	padding-left: 1px;
	color: $theme-placeholder-color;
	height: 100%;
}

.rcl-dropdown-field-text {
	height: 20px;
	padding-left: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.rcl-dropdown-button {
	@include flexCenter;
	align-self: flex-end;
	min-width: 36px;
	height: 34px;
	background-color: white;
	border-top-right-radius: $theme-border-radius - 1;
	border-bottom-right-radius: $theme-border-radius - 1;
	cursor: pointer;
}

.rcl-dropdown-container {
	position: absolute;
	z-index: 500;
	margin-top: 36px;
	background-color: var(--list-background);
	border-radius: $theme-border-radius;
	width: 100%;
	box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1);
}

.rcl-dropdown-list {
	max-height: 300px;
	overflow: auto;
	background-color: white;
}

.rcl-dropdown-list-item {
	@include flexCenterLeft;
	font-family: 'Open Sans', sans-serif;
	font-size: $theme-fontsize-default;
	height: 30px;
	padding: 0 10px 0 10px;
	cursor: pointer;

	&:hover {
		color: $theme-hover-text-color;
		background-color: $theme-hover-color;
	}

	span {
		height: 20px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
