@import './../style/theme_sass';

.rcl-editbox {
	@include flexCenter;
	margin-bottom: 0px;
	height: 36px;
	max-height: 36px;
	border: 1px solid $theme-border-color;
	background: white;
	font-weight: 200;
	font-size: $theme-fontsize-default;
	border-radius: $theme-border-radius;
	padding: 1px;
}

.rcl-editbox-focus {
	border: 1px solid $theme-primary-dark-color !important;
}

.rcl-editbox input[type='text'] {
	color: $theme-text-color !important;
	font-weight: 200;
	font-size: $theme-fontsize-default;
	width: 100%;
	border: none;
	padding-left: 10px;
	padding-right: 10px;
}

.rcl-editbox input[type='number'] {
	color: $theme-text-color !important;
	font-weight: 200;
	font-size: $theme-fontsize-default;
	width: 100%;
	border: none;
	padding-left: 5px;
	padding-right: 5px;
}

.rcl-editbox input[type='email'] {
	color: $theme-text-color !important;
	font-weight: 200;
	font-size: $theme-fontsize-default;
	width: 100%;
	border: none;
	padding-left: 5px;
	padding-right: 5px;
}

.rcl-editbox input[type='password'] {
	color: $theme-text-color !important;
	font-weight: 200;
	font-size: $theme-fontsize-default;
	width: 100%;
	border: none;
	padding-left: 10px;
	padding-right: 5px;
}
