@import './../style/theme_sass';

.rcl-htmlview {
    background-color: white;
}

.ctl-link {
    display: inline;
    padding: 0 3px;
    border-radius: $theme-border-radius;
    color: black;
    border-bottom: 1px dotted rgb(46, 0, 153);
    cursor: pointer;

    &:hover {
        background-color: yellow;
    }
}
