@import './../style/theme_sass';

.rcl-radio {
	display: flex;
}

.rcl-radio-item {
	@include flexCenterLeft;
	margin-right: 10px;
	font-size: $theme-fontsize-default;

	&-label {
		flex-grow: 1;
	}
}

.rcl-radio-button {
	@include flexCenter;
	height: 24px;
	min-height: 24px;
	width: 24px;
	min-width: 24px;
	border-radius: 50%;
	border: 1px solid $theme-border-color;
	background-color: white;
	margin-right: 10px;
	cursor: pointer;
}

.rcl-radio-button-disabled {
	@include flexCenter;
	height: 24px;
	min-height: 24px;
	width: 24px;
	min-width: 24px;
	border-radius: 50%;
	border: 1px solid $theme-border-color;
	background-color: #f0f0f0;
	margin-right: 10px;
}

.rcl-radio-button:hover {
	background-color: $theme-hover-color;
}

.rcl-radio-button-selected {
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background-color: $theme-secondary-color;
}

.rcl-radio-button-selected-disabled {
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background-color: #808080;
}
